.AddPost {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddPost__container {
    background-color: lightgray;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
}

.AddPost__inputuser {
    margin-bottom: 10px;
}

.AddPost__inputfile {
    margin: 10px 20px 10px 20px;
}