.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instagram__text {
    width: 60%;
    margin: auto auto 15px auto;
}

.login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    justify-content: center;
}

.login__textBox {
    border-radius: 5px;
    border: transparent;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: lightgray;
}

.login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 5px;
    color: white;
    background-color: #027aff;
}

.login__google {
    background-color: transparent;
    color: #027aff;
    font-weight: 700;
    font-size: 20px;
}

.login__or {
    color: rgb(170, 170, 170);
    margin: 5px auto;
    font-size: 17px;
}

.google__icon {
    padding-right: 5px;
    font-size: 10px;
}

.login__register {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid lightgray;
}

.login__registerLink {
    font-weight: 700;
    color: #027aff;
    text-decoration: none;
}