.PostsGroup__header {
    display: flex;
}

.PostsGroup__image {
    width: 50%;
    padding-bottom: 2px;
    border-bottom: 2px solid blue;
}

.PostsGroup__video {
    width: 50%;
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.PostsGroup__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
}

.PostsGroup__grid-item {
    width: 100%;
    border: 1px solid black;
}